.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
yarn.lock
package-lock.json
*.vsix
test/**
**/*.test.ts
**/*.spec.ts
**/.eslintrc.js
**/.eslintrc.json
.eslintrc.json
**/jest.config.js
